%div
  %h1 Flight demo Beta!
  %h3
    About flight demo?
  %h4
    TBD: Explain the purpose of this demo
    Search two airports


%form.form-inline{:action => ""}
  %label{:for => "selectList"} From
  %input#fromSelect{:type => 'text'}

  %label{:for => "selectList"} To
  %input#toSelect{:type => 'text'}

  %button.btn.btn-primary{:id => 'search', :disabled => true, :type => "button"} Search!

%table.table#result
