!!!
%html
  %head
    %title Flight Demo
    %script{:src => "/vendor/jquery-1.9.1.min.js", :type => "text/javascript"}
    %script{:src => "/vendor/bootstrap/js/bootstrap.min.js"}
    %link{:href => "/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "/application.js"}
    %link{:href => "/vendor/fontawesome/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body{:style => "padding-top: 50px;"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}
            Flight Demo
    .container
      - if @error then
        .alert.alert-error= @error
      = yield
